[submodule "TypeRenderer/externals/imgui"]
	path = TypeRenderer/externals/imgui
	url = https://github.com/ocornut/imgui
[submodule "TypeRenderer/externals/refl-cpp"]
	path = TypeRenderer/externals/refl-cpp
	url = https://github.com/veselink1/refl-cpp
[submodule "TypeRenderer/externals/magic_enum"]
	path = TypeRenderer/externals/magic_enum
	url = https://github.com/Neargye/magic_enum
